<h2><b>Task 4.1</b> 
«Работа с ipython notebook, pandas dataframe, загрузка данных»</h2>

In [3]:
import pandas as pd
import numpy as mp
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
directory_with_files = 'C:/Users/user/Downloads/26022017/yob{}.txt'

<b><h3>Задача №1</h3></b>

С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

In [5]:
def count_top3(list_of_years):
    names_by_year = {}
    for year in list_of_years:
        names_by_year[year] = pd.read_csv(directory_with_files.format(year),
                                          names=['Name', 'Gender', 'Count'],
                                          encoding="utf-8-sig")
    names = pd.concat(names_by_year, names=['Name', 'Gender'])\
        .groupby('Name')\
        .sum()\
        .sort_values(by='Count', ascending=False)\
        .head(3)
    result = list(names.T.columns[0:3])
    return result

count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

True

<h3><b>Задача №2</b></h3>

С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.

In [65]:
def count_dynamics(list_of_years):
    names_by_year = {}
    result = []
    for year in list_of_years:
        names_by_year[year] = pd.read_csv(directory_with_files.format(year),
                                          names=['Name', 'Gender', 'Count'],
                                          encoding="utf-8-sig")
        names_by_year[year] = names_by_year[year].groupby('Gender').sum()
    names = pd.concat(names_by_year, names=['Year'])
    return names
# I could get results but couldn't get results in required form {dict}
#  spent several hours trying to realign results.
result = count_dynamics([1900, 1950, 2000])
print(result)
count_dynamics([1900, 1950, 2000]) == {
          'F': [299822, 1713450, 1814738],
          'M': [150490, 1791474, 1962556]
        }

               Count
Year Gender
1900 F        299822
     M        150490
1950 F       1713450
     M       1791474
2000 F       1814738
     M       1962556

             Count
Year Gender
1900 F       False
     M       False
1950 F       False
     M       False
2000 F       False
     M       False